<form action="/robots/<%= @robot.id %>" method="post">
  <h3>Edit the robot's information below:</h3>
  <input type="hidden" name="_method" value="PUT" />
  </br>
  <h4>Name:</h4>
  <input type='text' name='robot[name]' value="<%= @robot.name %>"/><br/><br/>

  <h4>City:</h4>
  <input type='text' name='robot[city]' value="<%= @robot.city %>"/><br/><br/>

  <h4>State:</h4>
  <input type='text' name='robot[state]' value="<%= @robot.state %>"/><br/><br/>

  <h4>Birthdate:</h4>
  <input type='date' name='robot[birthdate]' value="<%= @robot.birthdate %>"/><br/><br/>

  <h4>Date Hired:</h4>
  <input type='date' name='robot[date_hired]' value="<%= @robot.date_hired %>"/><br/><br/>

  <h4>Department:</h4>
  <select name='robot[department]'>
      <option value="Human Studies">Human Studies</option>
      <option value="Space Exploration">Space Exploration</option>
      <option value="War Office">War Office</option>
      <option value="Agriculture" >Agriculture</option>
  </select>
  </br>
  </br>

  <button type='submit'>Submit</button>
</form>
