<div class='container'>
  <div class='row well'>
    <div class='col-md-12'>

    <h1 id='robot_headquarters'>Robot Headquarters</h1>

    </div>
  </div>
</div>


<div class='container'>
  <div class='row well' id="robot_description">

<% @robots.each do |robot| %>
  <h2><%= robot.id %>: <a href="/robots/<%= robot.id %>"><%= robot.name %></a></h2>
  <img src="https://robohash.org/<%= robot.id %>"></br>
  <a href="/robots/<%= robot.id %>/edit">Edit</a>
  <form action="/robots/<%= robot.id %>" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <button type="submit" value="delete">Delete</button>
  </form>

<% end %>

</div>
</div>
</br>
</br>

<a href="/">Return to Robot World</a></br>
<a href="/robots/new">Add a New Robot</a>

